@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    @include onTablet {
      width: 380px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  &__phone-input {
    display: flex;
    flex-direction: column;

    &__text {
      font-size: 12px;
      line-height: 14px;
      color: $secondary;
    }
  }

  &__checkbox {
    margin-top: 29px;
    font-size: 16px;
    line-height: 26px;

    margin-bottom: 50px;

    &__title {
      margin-bottom: 11px;
      font-weight: normal;
    }

    &__options {
      display: flex;
      column-gap: 12px;
      align-items: center;

      margin-bottom: 7px;

      cursor: pointer;
    }

    &__option {
      all: unset;
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #d0cfcf;
      line-height: 26px;

      &:checked {
        border: 1px solid rgba(0, 189, 211, 1);

        &:after {
          position: absolute;
          display: block;
          width: 11px;
          height: 11px;
          content: '';
          left: 4.5px;
          top: 4.5px;
          border-radius: 50%;
          background-color: rgba(0, 189, 211, 1);
        }
      }
    }
  }

  &__upload-input {
    display: none;
  }

  &__upload-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    border-radius: 4px;

    width: 100%;
    height: 54px;

    margin-bottom: 50px;

    &__text {
      padding: 14px 15px;

      font-size: 16px;
      line-height: 26px;

      border-radius: 4px 0 0 4px;

      border: 1px solid rgba(0, 0, 0, 0.87);
    }

    &__photo {
      font-size: 16px;
      line-height: 26px;
      color: #7E7E7E;

      width: 100%;

      padding: 14px 0 14px 16px;

      border-top: 1px solid #D0CFCF;
      border-right: 1px solid #D0CFCF;
      border-bottom: 1px solid #D0CFCF;

      border-radius: 0 4px 4px 0;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      transition: border-color .3s;

      &:hover {
        border-color: rgba(0, 0, 0, 0.87);

        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
  }

  &__input {
    display: flex;
    flex-direction: column;
  }

  &__error-text {
    width: 100%;
    height: 14px;
    color: $red;
    font-size: 12px;
    line-height: 14px;
  }
}